<form action="/test" method = "POST">
    <p>UserID <input type = "integer" name = "UserID" /></p>
    <p>AddressID <input type = "integer" name = "AddressID" /></p>
    <p>Email <input type = "text" name = "Email" /></p>
    <p>FirstName <input type = "text" name = "FirstName" /></p>
    <p>LastName <input type = "text" name = "LastName" /></p>
    <p>PW <input type = "text" name = "PW" /></p>
    <p>Phone <input type = "text" name = "Phone" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
