<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leather</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}"  >
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}" >
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="Home.html"><i class="fa fa-fw fa-home"></i>Home</a>
      <a href="/P.html">Painting</a>
      <a href="/WC.html">Wood Carving</a>
      <a href="/C.html">Ceramic</a>
      <a href="/GB.html ">Glass Blowing</a>
      <a href="/MW.html">Metal working</a>
      <a href="/L.html">Leather</a>
      <a href="/contact.html">Contact US</a>
      <div class="topnav-right">
        <a href="Cart.html">Cart<i class="fa fa-fw fa-shopping-cart"></i></a>
        <div class="dropdown">
          <button class="dropbtn">
            Your Info <i class="fa fa-fw fa-user-circle"></i>
          </button>
          <div class="dropdown-content">
            <a href="Profile.html">Profile</a>
            <a href="Signin.html">Sign In</a>
            <a href="Signup.html">Sign Up</a>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <h1>Leather</h1>
      <div class="list-container">
        <a class="card" href="./L1.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L1.jpg')"
              class="image"
            ></div>
          </div>
          <p>Old Cottages at Pinner</p>
        </a>

        <a class="card" href="./L2.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L2.jpg')"
              class="image"
            ></div>
          </div>
          <p>Driving Home The Flock</p>
        </a>

        <a class="card" href="./L3.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L3.jpg')"
              class="image"
            ></div>
          </div>
          <p>Naples From Sir William Hamilton's Villa</p>
        </a>

        <a class="card" href="./L4.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L4.jpg')"
              class="image"
            ></div>
          </div>
          <p>Congreve Street, Birmingham</p>
        </a>

        <a class="card" href="./L5.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L5.jpg')"
              class="image"
            ></div>
          </div>
          <p>Congreve Street, Town Hall, Christ Church, Birmingham</p>
        </a>

        <a class="card" href="./L6.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L6.jpg')"
              class="image"
            ></div>
          </div>
          <p>The River Severn at Shrewsbury, Shropshire</p>
        </a>

        <a class="card" href="./L7.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L7.jpg')"
              class="image"
            ></div>
          </div>
          <p>Old Half-Timbered Barn Near Maxstoke, Warwickshire</p>
        </a>

        <a class="card" href="./L8.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L8.jpg')"
              class="image"
            ></div>
          </div>
          <p>Monte Civetta</p>
        </a>

        <a class="card" href="./L9.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L9.jpg')"
              class="image"
            ></div>
          </div>
          <p>Near Glarus, Switzerland</p>
        </a>

        <a class="card" href="./L10.html">
          <div class="image-container">
            <div
              style="background-image: url('static/images/L10.jpg')"
              class="image"
            ></div>
          </div>
          <p>Rough Weather, Dutch and English Fishing Boats</p>
        </a>
      </div>
    </div>
  </body>
</html>
