<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="static/signin.css">
    <link rel="stylesheet"  href="static/master.css">
  </head>
  <body>
    <form class="modal-content animate" action="/signinDB" method="POST">
      <div class="imgcontainer">        
        <img src="/static/images/avatar_red.jpg" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        
        <!-- <button type="submit">Login</button>   -->
        <a href="home.html"><button type="submit">Login</button></a>
      </div>

    </form> 
  </body>
</html>